


# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:LeHageramy
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?acquacerrado.com.br/.*$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|tiff|avi|mpeg|mpg|wma|mov|zip|rar|exe|mp3|pdf|swf|psd|txt|html|htm)$ https://www.acquacerrado.com.br [R,NC]
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE LeHageramy:HOTLINKID

